body {
  background-color: rgb(30,30,30);
}

banner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  color: rgb(255,255,255);
  font-size: 5vw;
  text-align: center;
  text-shadow: 0px 0px 10px rgb(255,128,255);
}
